.background{
   
    background-image: url('../Assets/Landing/pikachu-zzz-1920x1200.jpg');   
    width: 100vh;    
    height: 20%;
    background-size:cover;
    padding: 400px;      
    position: absolute; 
    opacity: 85%;  
  
} 
.title{
    /* border: 5px solid white; */
    /* box-shadow: inset 0 0 5px red, 0 0 10px red; */
    border-radius: 60px; 
    padding: 20px;    
    text-align: center;
    color:antiquewhite;  
    font-family: monospace; 
   
}


.neon{
    margin:0;
    font-size: 40px;
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0  30px black, 0 0 50px red;
}  

.neon2{
    font-family: monospace;
    margin: 0;
    font-size: 35px;
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}
.btn{
    background: #ffb700;
    position: relative;
    display: inline-block;    
    border: solid 2px transparent;
    padding: 15px 30px;
    border-radius: 50px;
    font-family:monospace;
    font-style: oblique;
    font-size:larger;
    font-weight:lighter;
    color:antiquewhite;
    text-shadow:0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red; ;
    letter-spacing: 4px;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s; 
}
.btn:hover{
    background: #ee964b;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px white, 0 0 90px red;
    transition-delay: 0.1s;
} 
